# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# ============================================================
# VIRTUAL ENVIRONMENT
# ============================================================

venv/
env/
ENV/

# ============================================================
# ENV FILES
# ============================================================

.env
.env.local

# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# Optional large ML files
*.ckpt
*.pb
*.onnx

# ============================================================
# LOGS
# ============================================================

*.log

# ============================================================
# TEST / CACHE
# ============================================================

.pytest_cache/
.coverage
htmlcov/

# ============================================================
# VSCODE
# ============================================================

.vscode/

# ============================================================
# MAC / WINDOWS
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# BUILD FILES
# ============================================================

build/
dist/
*.egg-info/

# ============================================================
# MYPY / TYPE CACHE
# ============================================================

.mypy_cache/
.dmypy.json

# ============================================================
# SQLITE
# ============================================================

*.sqlite3